* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url(/assets/products-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

/* .nav-link {
    font-weight: 300px;
} */


#logo {
    height: 60px;
    width: 150px;

}

th {
    color: aliceblue;
}

table {
    justify-content: space-around;
    color: rgb(182, 123, 15);
    border: 20px;
    column-gap: 20px;
    border-collapse: separate;
    border-spacing: 0px;
    
}

table :hover {
    color: aliceblue;
}
tbody {
    color: aliceblue;
}



footer {
    color: wheat;
    padding-left: 100px;
    background-color: rgb(25, 3, 3);
    height: 59px;
    padding: 20px;
  }