/* All Pages */
* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#logo {
    height: 60px;
    width: 150px;

}

#nav {
  background-color:  rgb(122, 72, 72);
}
#navbar {
  font-weight: bold;
  font-size: larger;
  color: white;
  background-color:  rgb(122, 72, 72);
}

h1 {
  color: black;
}
footer {
  color: wheat;
  padding-left: 100px;
  background-color: rgb(122, 72, 72);
  height: 59px;
  padding: 20px;
}


/* <---Media Queries--> */
@media screen and (min-width:300px) {    
  body {
    width: 100%;
  }
}
/* Home Page */

.home {
  padding-left: 540px;
  padding-top: 80px;
  border-radius: 500px;
  padding-bottom: 20px;
}


/* Admin Page */

#delete, #edit {
  background-color: rgb(122, 72, 72);
  color: white;
  padding: 10px 18px 10px 18px;
  border-radius: 20px;
  border: none;
}

#delete:hover, #edit:hover {
  background-color: white;
  color: black;
}


#addproductmodal {
  color: aliceblue;
  background-color: rgb(8, 62, 8);
  float: right;
  margin-right: 115px;
}

/* Product Page */
h1 {
  max-width: 100%;
}
.card{
  flex-direction: unset;
  background-color: beige;
  width: 1082px;
  justify-content: center;
}

#image {
  max-width: 260px;
  padding-left: 100px;
}

#container {
  padding-left: 120px;
}
#addtocart {
  float: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#sortbutton, #filterbutton {
  float: right;
  background-color: rgb(5, 74, 5);
  color: white;
  padding: 15px;
  margin-right: 10px;
}

/* Checkout Page */
#checkoutbody {
  background-image: url(/assets//background.jpg);
}
th {
  color: black;
  font-weight: bold;
}

table {
  justify-content: space-around;
  color: black;
  border: 20px;
  column-gap: 20px;
  border-collapse: separate;
  border-spacing: 0px;
  
}

tbody {
  color: black;
}

#addtocheckout {
  background-color: rgb(5, 74, 5);
  color: white;
}

.total {
  font-weight: bolder;
  font-size: larger;
  float: right;
  padding-right: 70px;
}
/* ul {
  display: flex;
  justify-content: end;
  align-items: flex-end;

} */